body {
	margin: 0px;
}

.action-button {
	background-color: rgba(79, 219, 194, 0.56);
    border-radius: 10px;
    width: 300px;
}

.home-first-container {
	height: 850px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(79, 219, 194, 0.25) 100%), #FFFFFF;
}

.home-box {
	background: rgba(71, 63, 63, 0.54);
	border-radius: 10px;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;

    p {
		font-size: 31px;
	    padding: 15px;
	    text-align: center;
	    color: white;
	    font-family: $body-font;
	    font-weight: 700;
	}
}

.catch-phrase {
	text-align: center;
    color: black;
    margin: 30px;
    font-size: 50px;
    font-family: $headers-font;
	font-weight: 700;
	letter-spacing: 1px;
}

.content-container-1 {
	display: flex;
    justify-content: space-around;
    margin: 0px 60px;
}

.catalog {
	width:350px;
}

.planner {
	width:600px;
}

.button-main {
	background-color: rgba(79, 219, 194, 0.56);
    border-radius: 10px;
    width: 300px;
    margin: 15px auto;

    .button-1 {
    	padding: 20px;
    	text-align: center;
    	font-size: 25px;
    	font-family: $headers-font;
    	color: white;
    	margin: 0;
    }
}

.sub1-content-container-1 {
	height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container-2 {
	height: 700px;
    background: linear-gradient(180deg, rgba(79, 219, 194, 0.25) 0%, rgba(255, 255, 255, 0) 40%), #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section {
    	width: 570px;
    	margin: auto;
    }

    h2 {
    	color: black;
    	margin: 0;
    	text-align: center;
    	font-size: 35px;
    	font-family: $headers-font;
    	font-weight: 700;
    }

    p {
    	color: black;
    	margin: 0;
    	margin-top: 9px;
    	text-align: center;
    	font-size: 19px;
    	font-family: $body-font;
    }

    .button-2 {
    	padding: 20px;
    	text-align: center;
    	font-size: 25px;
    	font-family: $headers-font;
    	color: white;
    	margin: 0;
    }
}



.contenu-modal {
	padding: 30px;

	p {
		color: black;
    	text-align: center;
    	font-size: 17px;
    	font-family: $body-font;
    	font-weight: 700;
    	margin-bottom: 25px;
	}
}



