body {
	margin: 0px;
}

.action-button {
	background-color: rgba(79, 219, 194, 0.56);
    border-radius: 10px;
    width: 300px;
}

.home-first-container {
	height: 850px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(79, 219, 194, 0.25) 100%), #FFFFFF;
}

.home-box {
	background: rgba(71, 63, 63, 0.54);
	border-radius: 10px;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;

    p {
		font-size: 31px;
	    padding: 15px;
	    text-align: center;
	    color: white;
	    font-family: $body-font;
	    font-weight: 700;
	}
}

.catch-phrase {
	text-align: center;
    color: black;
    margin: 30px;
    font-size: 40px;
    font-family: $headers-font;
	font-weight: 700;
	letter-spacing: 1px;
}

.content-container-1 {
	display: flex;
    justify-content: space-around;
    margin: 0px 60px;
}

.catalog {
	width:350px;
	height: auto;
}

.planner {
	width:600px;
	height: auto;
}

.button-main {
	background-color: rgba(79, 219, 194, 0.56);
    border-radius: 10px;
    width: 300px;
    margin: 15px auto;

    .button-1 {
    	padding: 20px;
    	text-align: center;
    	font-size: 25px;
    	font-family: $headers-font;
    	color: white;
    	margin: 0;
    }
}

.sub1-content-container-1 {
	height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section {
    	width: 570px;
    	margin: auto;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    h2 {
    	color: black;
    	margin: 0;
    	text-align: center;
    	font-size: 30px;
    	font-family: $headers-font;
    	font-weight: 700;
    }

    p {
    	color: black;
    	margin: 0;
    	margin-top: 5px;
    	text-align: center;
    	font-size: 18px;
    	font-family: $body-font;
    }

    .button-2 {
    	padding: 20px;
    	text-align: center;
    	font-size: 25px;
    	font-family: $headers-font;
    	color: white;
    	margin: 0;
    }
}



.contenu-modal {
	padding: 30px;

	p {
		color: black;
    	text-align: center;
    	font-size: 17px;
    	font-family: $body-font;
    	font-weight: 700;
    	margin-bottom: 25px;
	}

	input[type=text] {
		background: rgba(79, 219, 194, 0.57);
    	border-radius: 10px;
    	padding: 15px;
    	width: 400px;
    	border: none;
    	font-family: $body-font;
    	font-size: 15px;
	}

	input[type=text]:focus::placeholder {
		color: transparent;
	} 

	::placeholder { 
 	 	color: white;
  		opacity: 1;
  	}
}

.formulaire-participation {
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    button {
	    position: absolute;
	    bottom: -110px;
	    border: none;
	    width: 200px;
	    padding: 13px;
	    font-family: $body-font;
	    font-weight: 700;
	    font-size: 20px;
	    background-color: rgba(79, 219, 194, 0.56);
	    border-radius: 10px;
	    color: white;
    }
}

.bar-separation {
	width: 450px;
	height: 3px;
	background: linear-gradient(90deg, #F57A57 0%, #F5AE44 24.48%, #FAB4BA 51.04%, #A2F5A5 78.65%, #4FDBC2 100%);
	margin: auto;
}


.content-container-3 {
    height: 900px;

    h2 {
        margin-bottom: 9px;
    }

    p {
        color: black;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        font-size: 18px;
        font-family: $body-font;
        width: 550px;
    }

    .center-img {
        display:flex;
        justify-content: center;
        margin-top: 20px;
        height: 541px;
    }
}

.collapse-div-container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;

    button {
        border-radius: 10px;
        padding: 10px 20px;
        background: rgba(79, 219, 194, 0.56);
        color: white;
        border: none;
        font-size: 19px;
        font-family: $body-font;
        font-weight: 700;
    }
}

.collapseProduct {
    
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 600px;
    }

    .price-display {
        width: 300px;
        height: 200px;
        border: solid;
        border-radius: 10px;
        margin-right: 50px;
    }

    p {
        text-align: start;
        font-size: 16px;
        padding-left: 4px;
    }

    h4 {
        font-family: $headers-font;
        text-align: center;
        margin-top: 2px;
    }
}

.text-quiz-question {

    margin: 20px;

    p {
        color: black;
        text-align: start;
        font-size: 17px;
        font-family: $body-font;
        font-weight: 700;
        margin-bottom: 5px;
    }

    input[type=text] {
        background: rgba(79, 219, 194, 0.57);
        border-radius: 10px;
        padding: 15px;
        width: 400px;
        border: none;
        font-family: $body-font;
        font-size: 15px;
    }

    input[type=text]:focus::placeholder {
        color: transparent;
    } 

    ::placeholder { 
        color: white;
        opacity: 1;
    }
}

.box-quiz-question {

    margin: 20px;

    div {
        display: flex;
        align-items: baseline;

         p {
            margin-left: 20px;
            font-size: 17px;
        }
    }

    p {
        color: black;
        text-align: start;
        font-size: 17px;
        font-family: $body-font;
        font-weight: 700;
        margin-bottom: 5px;
    }
}

.centerer {
    display: flex;
    justify-content: center;

    button {
        width: 200px;
        border: solid 3px;
        border-top-color: #F57A57;
        border-left-color: #F5AE44;
        border-bottom-color: #A2F5A5;
        border-right-color: #FAB4BA;
    }:hover {
        background: rgba(79, 219, 194, 0.35);
    }
}







