<div class="navbar-main-container">
	<%= image_tag "ROOTS & CROPS-4.png", class: "logo"%>
	<h2 class="text-navbar">Roots & Crops</h2>
	<div class="logos-sociaux">
		<a href="https://www.instagram.com/rootsncrops/"><%= image_tag "instagram-logo.png", class: "insta"%></a>
		<%= image_tag "pinterest-logo.png", class: "pinterest"%>
	</div>
</div>