<div class="home-first-container">
	<%= render 'shared/navbar' %>
	<div class="home-box">
		<h2>Apprenez à cultiver!</h2>
		<a href="https://docs.google.com/forms/d/16fher-Fmu6ETgIWapz3yuSalO7tttFSja_PQNWjJdac/edit">
			<div class="action-button">
				<p>Faire le quiz</p>
			</div>
		</a>
	</div>
</div>


