.navbar-main-container {
	background: linear-gradient(90deg, rgba(162, 245, 165, 0.59) 0%, rgba(79, 219, 194, 0.37) 100%);
    width: 100%;
    height: 80px;
    position: relative;
}

.inside-navbar {
	display: flex;
}

.logo {
	width: 70px;
	height: 70px;
	z-index: 1;
	position: absolute;
    top: 10px;
    left: 45px;
}

.text-navbar {
	font-family: $headers-font;
	font-weight: 700;
	font-size: 60px;
	color: white;
	margin: 0;
	text-align: center;
	padding-top: 6px;
}